<!DOCTYPE html>
<html>
    <head>
        <title>SkillSoup - A skill matching web application for hackerspaces - created in collaboration with Alpha One Labs</title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <style>
            img { display: block; margin-left: auto; margin-right: auto }


        </style>
    </head>
    <body>
        <a href="https://twitter.com/skillsoup" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @skillsoup</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <a href="https://github.com/alphaonelabs/SkillSoup/">Our GitHub Repository</a> | <a href="http://willyou.typewith.me/p/skillsoup">Live Notes Etherpad</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    

        <img src="/static/img/mockup-skillsoup.png">
</body>

</html>
